<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create Product</h1>
<form action="#" th:action="@{/products}" th:object="${product}" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"  th:field="*{name}"/>
    </div>
    <div>
        <label for="price">Price:</label>
        <input type="text" id="price" name="price"  th:field="*{price}" />
    </div>
    <div th:if="${errors != null}">
        <ul>
            <li th:each="error : ${errors}" th:text="${error.defaultMessage}"></li>
        </ul>
    </div>
    <div>
        <button type="submit">Create</button>
    </div>
</form>
</body>
</html>